* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #282828;
    color: white;
}


header {
    width: 100%;
}


a.link:link {
    color: white;
    text-decoration: none;
}

a.link.visited {
    color: white;
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}


nav {
    position: fixed;
    top: 10;
    right: 0;
}


h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
}


#github {
    display: inline-block;
    color: white;
    padding: 8px;
}

#portfolio {
    display: inline-block;
    color: white;
    padding: 8px;
}

#contact {
    display: inline-block;
    color: white;
    padding: 8px;
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
    border: 2px solid aquamarine;
}

hr {
    border-color: aquamarine;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 20px;
    border: 2px solid aquamarine;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    border-color: white;
    outline: none;
  }
  
  input[type=text]:focus {
    background-color: aquamarine;
  }