* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #282828;
}


header {
    width: 100%;
}


a.link:link {
    color: white;
    text-decoration: none;
}

a.link.visited {
    color: white;
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}


nav {
    position: fixed;
    top: 10;
    right: 0;
}


h1 {
    text-align: center;
    color: white;
}


#github {
    display: inline-block;
    color: white;
    padding: 8px;
}

#portfolio {
    display: inline-block;
    color: white;
    padding: 8px;
}

#contact {
    display: inline-block;
    color: white;
    padding: 8px;
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid aquamarine;
}

hr {
    border-color: aquamarine;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 20px;
}