* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #282828;
}


header {
    width: 100%;
}


h1 {
    text-align: center;
}


li {
    position: fixed;
    display: inline;
    list-style-type: none;
    top: 0x;
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid;
}